.body{
display: flex;
}
.body1{
    background: linear-gradient(to right,#FFDB7E, #FF7A00);
    width: 5%;
    height: 650px;
}
.body2{
    width: 90%;
    height: 650px;
    background: #FFD000;
}
h2{
    text-align: center;
    color: beige;
    font-size: 50px;
}
.baodiachi{
background-color: #FFF6D4;
margin-left: 900px;
height: 130px;
width: 280px;
border-radius: 10px 10px 10px 10px;
}
.diachi{
    height: 120px;
    width: 270px;
    position: relative;
    left: 5px;
    top:5px ;
    background-color: #FFF6D4;
    border-radius: 10px 10px 10px 10px;
    border: 2px dashed #FFB489;

}
.iconaddpress{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: red;
}
.b{
    color: black;
    margin-left: 15px;
    font-size: 20px;
}
.p{
    text-align: center;
}
.baoemail{
    margin-top: 10px;
margin-left: 900px;
height: 130px;
width: 280px;
background-color: #FFF6D4;
border-radius: 10px 10px 10px 10px;
}
.email{
    height: 120px;
    width: 270px;
    position: relative;
    left: 5px;
    top:5px ;
    background-color: #FFF6D4;
    border: 2px dashed #FFB489;
    border-radius: 10px 10px 10px 10px;

}
.iconemail{
    color: blue;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 15px;
}
.baodt{
margin-top: 10px;
margin-left: 900px;
height: 130px;
width: 280px;
background-color: #FFF6D4;
border-radius: 10px 10px 10px 10px;
position: absolute;
}
.dt{
    height: 120px;
    width: 270px;
    position: relative;
    left: 5px;
    top:5px ;
    background-color: #FFF6D4;
    border: 2px dashed #FFB489;
    border-radius: 10px 10px 10px 10px;
}
.iconphone{
    color: red;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 15px;
}
.bao{
    width: 750px;
    height: 410px;
    background-color: #FFF6D4;
    position: relative;
    left: 100px;
    bottom: 270px;
    border-radius: 10px 10px 10px 10px;

}
.fom{
    width: 730px;
    height: 390px;
    background-color: #FFF6D4;
    position: relative;
    top: 10px;
    left: 10px;
    border: 2px dashed #FFB489;
    border-radius: 10px 10px 10px 10px;
}
.content{
    //styleName: 20 medium;
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding-left: 20px;
}
.name {
    width: 200px;
    height: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #FFB489;

}
.gmail{
    width: 300px;
    height: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #FFB489;

}
.sdt{
    width: 200px;
    height: 25px;
    margin-left: 20px;
    top: 10px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #FFB489;

}
.adpress{
    width: 300px;
    height: 25px;
    margin-left: 20px;
    top: 10px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #FFB489;

}
.loinhan{
    height: 100px;
    width: 530px;
    top: 30px;
    margin-left: 20px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #FFB489;


}
.guilienhe{
    width: 200px;
    height: 50px;
    margin-left: 300px;
    margin-top: 70px;
    color: white;
    background-color: red;
    border-radius: 10px 10px 10px 10px;
}
.hinhtocdo{
    width: 500px;
    height: 500px;
    top: 90px;
    left: 30px;
    position: relative;
}
.body3{
    background: linear-gradient(to right,#FFDB7E, #FF7A00);
    width: 5%;
    height: 650px;
}
.day {
    width: 111%;
    height: 80px;
    position: relative;
    right: 74px;
    bottom: 172px;
    background-color: #ED7200;
    border-radius: 0 0 35px 35px;
}